<div class="bs-example" data-example-id="basic-forms">
  <%= form_for @home do |f| %>
    <div class="form-group">
    <div class="form-group">
      <label>Content</label>
      <%= f.text_area :content, class: "form-control tinymce",
                                  placeholder: "Content" %>
    </div>
    <button type="submit" class="btn btn-default">Create
    </button>
  <% end %>
</div>