<div id="direct_upload">
  <%= form_for(:photo, :html => {multipart: true}, url:  photo_store_album_photos_path)  do |f| %>
    <div class="form-group">
      <%= f.text_field :name, class: "form-control",
                                  placeholder: "Name" %>
    </div>
    <div class="form-group">
      <%= f.text_field :description, class: "form-control",
                                  placeholder: "Description" %>
    </div>

    <%= file_field_tag "images[]", type: :file, multiple: true %>
    
     <div class="center">
       <button type="submit" class="btn btn-default">
         Submit
       </button>
      </div>
  <% end %>
</div>