<br>
<br>
<br>
<br>
<br>
<br>

<div id="footer">
  <div id="bg_footer"><!-- #BeginLibraryItem "footer.lbi" -->
  <div id="int_footer">
  <div class="cap02 pad_ss_border">
    <p class="titre_footer">
      <u>Liên hệ</u>
      <br>
      <a>Email: </a>
      <br>
      <a>Phone number: </a>
    </p>
  </div>

  <div class="cap02 pad_ss_border">
    <p class="titre_footer">
      <u>Facebook</u>
    </p>

    <p>
    <a style="border:0; margin-top:5px;" href="https://twitter.com/duboutdesyeux" target="_blank">
    <img src="/assets/twitter.jpg" alt="Retrouvez moi sur Twitter" width="102" height="76" border="0">
    </a>

    <a style="border:0; margin-top:5px;" href="http://www.viadeo.com/invitation/sandrine.abraham" target="_blank"> 
    <img src="/assets/viadeo_petit.png" alt="Retrouvez moi sur Viadéo" width="40" height="40" border="0">
    </a>

    <a style="border:0; margin-top:5px;" href="http://www.facebook.com/pages/Du-Bout-Des-Yeux-Webdesign/171973169232" target="_blank"> 
    <img src="/assets/facebook_petit.png" alt="Retrouvez moi sur Facebook" width="40" height="40" border="0">
    </a>
    </p>
  </div>

  <div class="cap02">
 <p class="titre_footer">
   <u>Cảm ơn</u>
 </p>
   <a class="small">
    Cảm ơn bạn đã ghé thăm chúng tôi, mọi góp ý, phản hồi xin gửi qua email chúng tôi sẽ phản hồi tới bạn ngay khi có thể
    </a>
   </div>

  <p class="bas_footer">
    Khi bạn vui, phải nghĩ rằng niềm vui này không phải là vĩnh hằng. Khi bạn đau khổ, bạn hãy nghĩ rằng nỗi đau này cũng không trường tồn. <br>
    Bạn có thể có tình yêu nhưng đừng nên dính mắc, vì chia ly là lẽ tất nhiên.<br>
    Đừng lãng phí sinh mạng của mình trong những chốn mà nhất định bạn sẽ ân hận.
   </p>
</div>
</div>
</div>
